@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8075FF;
  font-family: 'Montserrat';
}

main {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 200px;
}

.section {
  display: block;
}

.section-card {
  width: 100%;
  margin: auto;
  padding: 50px 28px 25px 28px;
  border-radius: 8px;
  border: 2px solid #DBDBDB;
  background-color: #FAFAFA;
}

.section-card__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 99px 2fr 1fr;
      grid-template-columns: 99px 2fr 1fr;
}

.section-card__controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 155px 155px 1fr;
      grid-template-columns: 155px 155px 1fr;
  margin-top: 28px;
  grid-gap: 20px;
}

.section-card__img {
  width: 99px;
  height: 99px;
  border-radius: 1000px;
}

.section-card .content__text {
  padding-left: 40px;
}

.section-card .content__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-card__tag {
  background-color: #8075FF;
  text-align: center;
  padding: 4px 11px;
  margin-right: 10px;
  border-radius: 4px;
  color: #FAFAFA;
  font-weight: 600;
  font-size: 14px;
}

.section-card__title {
  font-size: 30px;
  font-weight: 600;
}

.section-card__description {
  font-size: 16px;
  margin-top: 19px;
}

.section-card__button-join {
  color: #FAFAFA;
  padding: 14px 0;
  background-color: #8075FF;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.section-card__button-view {
  color: #8075FF;
  padding: 14px 0;
  background-color: #FAFAFA;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.section-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
