@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import "colors", "mixins";
*{
  box-sizing: border-box;
}

body {
  background-color: $purple_color;
}

.section-both{
  display: flex;
}


.section-settings {

  &-left {
    display: block;
    
    margin: 0 auto;
    width: 750px;
    backdrop-filter: blur(10px);
    margin-left: 100px;
    margin-right: 100px;
    min-height: 800px;
    height: auto;
    background: rgba(180, 173, 230, 0.8);
    border-radius: 40px;
    background-position: center;
    margin-top: 58px;
    margin-bottom: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 144px;
    padding-right: 144px;
  }

  &-bg__gear{
    position: absolute;
    left: 200px;
    top: 300px;
  }

  &-right{
    display: block;
    margin: 0 auto;
    width: 750px;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(180, 173, 230, 0.8);
    border-radius: 40px;
    margin-top: 58px;
    margin-bottom: 200px;
    padding-left: 144px;
    padding-right: 144px;
  }

  &-bg__switcher{
    position: absolute;
  }

  &-header__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    color: $white_color;
  }

  &-forms {
    &__title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      padding-top: 70px;
      font-size: 48px;
      color: $white_color;
    }

    &__input {
      @include input;
      margin-top: 111px;
    }

    &__button {
      @include button;
      margin: 139px auto;
      min-width: 458px;
    }
  }

  &-privacy-choices {

    &__title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      padding-top: 62px;
      font-size: 48px;
      color: $white_color;
    }
    
  &-form-item {
      position: relative;
      margin-top: 65px;
      display: flex;
      align-items:center;

    &__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      margin-left: 45px;
      font-size: 24px;


      color: #FFFFFF;
    }  

    &__label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      margin-left: 21px;
      color: $white_color;
      border: 5px solid #ffffff;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      left: 0;
      position: absolute;
      top: 0;
      width: 28px;

    &__label:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
      }
    }
  }
}
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]:checked+label {
  background-color: #E1BF66;
  border-color: 10px #E1BF66;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}